/* Write your CSS here */
.latest-match-container {
  background-color: #0f172a;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 12px;
}

@media screen and (min-width: 768px) {
  .latest-match-container {
    flex-direction: row;
  }
}

.top-container {
  display: flex;
  flex-direction: row;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.competing-team {
  font-size: 24px;
  font-family: 'Bree Serif';
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .competing-team {
    font-size: 26px;
  }
}

.date {
  font-size: 20px;
  font-family: 'Bree Serif';
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 22px;
  }
}

.venue {
  font-size: 14px;
  font-family: 'Bree Serif';
  font-weight: 600;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 16px;
  }
}
.result {
  font-size: 14px;
  font-family: 'Bree Serif';
  font-weight: 600;
  color: #ffffff;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 16px;
  }
}

.competing-team-logo {
  height: 120px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .competing-team-logo {
    height: 150px;
    width: 150px;
  }
}

.hr {
  background-color: #475569;
}
@media screen and (min-width: 768px) {
  .hr {
    display: none;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-container-sub-headings {
  font-size: 18px;
  font-family: 'Bree Serif';
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .bottom-container-sub-headings {
    font-size: 20px;
  }
}

.bottom-container-sub-content {
  font-size: 16px;
  font-family: 'Bree Serif';
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .bottom-container-sub-content {
    font-size: 18px;
  }
}
